.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.scrollmenu {
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    scrollbar-width: none; /* Firefox */
}

.scrollmenu::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.scrollmenu.dark {
    background-color: #333;
}

.scrollmenu.light {
    background-color: white;
}

.link {
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
    color: black;
}

.scrollmenu.dark .link {
    color: white;
}

.scrollmenu.light .link {
    color: black;
}

.span:hover {
    color: blue;
}
